* {
  padding: 0 1rem;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.expence-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background-color: #4b4b4b;
}
.expence-item_description {
  display: flex;
  flex-direction: column;
  grid-template: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
}
.expence-item h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1rem;
  margin: 0 1rem;
  color: #fff;
}
.expence-item_price {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  background-color: rebeccapurple;
  padding: 0.5rem;
  border-radius: 12px;
}
.expence-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: #fff;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}
.expence-month {
  font-size: 0.75rem;
  font-weight: bold;
}

@media (min-width: 580px) {
  .expence-item_description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }
  .expence-item_description h2 {
    font-size: 1.25rem;
  }
  .expence-item_price {
    font-size: 1.25rem;
  }
}
